form {
    border: 1px solid rgb(0, 0, 0);  
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
  
    background-color: #dbdaed;
    border-radius: 13%;
    box-shadow: 0 0.2em 0.6em gray;
  }
  
  input, textarea {
    display: block;
    margin: auto;
    padding: 0.5em;
    border: 1px solid rgb(0, 0, 0);  
    border-radius: 1em;
  
    width: 100%;
  }
  
  #submit {
    display: block;
    margin: auto;
    padding: 0.5em;
  
    border: 1px solid rgb(0, 0, 0);  
    background-color: #9695d9;
    border-radius: 1em;
  }